# CLJ
.clj-kondo
.cpcache
.lsp
.nrepl-port
target/
.kaocha/

# Vale
.vale_styles
.vale/
.vale-cache/
.cache/vale/

# Editors 
.vscode/
.idea/
*.swp
*.swo
*~
.dir-locals.el
.projectile

# Misc
.codex
.DS_Store
