# CLJ
.clj-kondo
.cpcache
.lsp
.nrepl-port
target/
.kaocha/

# Vale
.vale_styles
.vale/
.vale-cache/
.cache/vale/

# Editors 
.vscode/
.idea/
*.swp
*.swo
*~
.dir-locals.el
.projectile

# Frontend
frontend/node_modules/
frontend/.shadow-cljs/
frontend/public/js/

# Misc
.codex
.DS_Store
